@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.heroSectionFrameFluxweb {
  width: 100%;
  min-height: 100px;
  padding: 0px 80px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #001524;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-top: 150px;
  padding-bottom: 30px;
}

@media (max-width: 900px) {
  .heroSectionFrameFluxweb {
    padding: 0px 0px;
    padding-top: 100px;
    padding-bottom: 25px;
  }
}

@media (max-width: 600px) {
  .heroSectionFrameFluxweb {
    padding: 0px 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    align-items: center;        
    text-align: center;         
  }
}

@media (max-width: 400px) {
  .heroSectionFrameFluxweb {
    padding: 0px 18px;
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 14px;           
  }
}

.whoAreWeFrame {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 54px;
  text-align: left;
  font-size: 40px;
  color: #fec815;
  font-family: Montserrat;
}
.comunicateTitle {
  font-size: 48px;
  font-weight: 700;
  font-family: Montserrat;
  color: #001524;
}
.brandIdentity {
  height: 40px;
  width: 259px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  font-size: 40px;
  font-family: Montserrat;
}

.yourLogoIsntContainer1 {
  height: auto;
  width: 706px;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  display: inline-block;
  flex-shrink: 0;
  color: #001524;
}

.we {
  font-family: Montserrat;
  color: #001524;
}

.buildVisualIdentities {
  font-weight: 700;
  font-family: Montserrat;
  color: #fec815;
}

.how-we-work {
  width: 319px;
  height: 49px;
  position: relative;
  font-size: 40px;
  display: inline-block;
  font-family: Montserrat;
  color: #fec815;
  text-align: left;
}

.how-we {
  width: 100%;
  min-height: 300px;
  padding: 100px 80px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #001524;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.proofBeatsPromisesContainer1 {
  width: 100%;
  position: relative;
  font-size: 48px;
  display: inline-block;
  font-family: Montserrat;
  text-align: left;
  color: #001524;
}

.proof {
  color: #fec815;
}

.weDontPitchContainer1 {
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  font-family: Montserrat;
  color: #000;
  text-align: left;
}

.weDontStopContainer {
  width: 1088px;
  height: 113px;
  position: relative;
  font-size: 48px;
  display: inline-block;
  font-family: Montserrat;
  text-align: left;
  color: #001524;
}

.pretty {
  width: 100%;
  padding: 100px 80px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #001524;
  display: flex;
  margin-bottom: -100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.brand-process-section {
  padding-top: 80px;
}

.theProblemFinedgeContainer,
.theProblemFinedgeContainer1 {
  width: 1019px;
  position: relative;
  color: #000;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  font-family: Montserrat;
  padding-bottom: 30px;
}

.theProblem {
  margin: 0;
  font-size: 40px;
}

.finedgeCameTo {
  margin: 0;
  line-height: 1.6;
  font-family: Montserrat;
}

.node8-approach-container {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: left;
  color: #1a1a1a;
  line-height: 1.8;
}

.approach-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.approach-list li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.ux-summary-container {
  background: #f9fafb;
  border-radius: 16px;
  padding: 40px;
  max-width: 950px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  text-align: left;
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  margin-top: 0px;
}

.ux-summary-title {
  font-size: 40px;
  color: #000;
  font-family: Montserrat;
  padding-bottom: 10px;
}

.ux-summary-item {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-family: Montserrat;
}

/* ---------- TABLET VIEW ---------- */
@media (max-width: 992px) {
  .whoAreWeFrame {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 32px;
    padding: 0 40px;
  }

  .brandIdentity {
    font-size: 32px;
  }

  .yourLogoIsntContainer {
    width: 100%;
    font-size: 16px;
  }

  .pretty {
    padding: 80px 40px;
  }

  .theProblemFinedgeContainer,
  .theProblemFinedgeContainer1 {
    width: 100%;
    padding: 0 40px;
    font-size: 16px;
  }

  .theProblem {
    font-size: 32px;
  }

  .ux-summary-container {
    padding: 30px;
  }

  .ux-summary-title {
    font-size: 32px;
  }

  .ux-summary-item {
    font-size: 1rem;
  }
}

/* ---------- MOBILE VIEW ---------- */
@media (max-width: 600px) {
  .whoAreWeFrame {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    gap: 15px;
    font-size: 26px;
  }

  .brandIdentity {
    width: 100%;
    font-size: 26px;
  }

  .yourLogoIsntContainer {
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
  }

  .pretty {
    padding: 60px 20px;
  }

  .theProblemFinedgeContainer,
  .theProblemFinedgeContainer1 {
    width: 100%;
    padding: 0 20px;
    font-size: 15px;
  }

  .theProblem {
    font-size: 26px;
  }

  .node8-approach-container {
    padding: 0 20px;
  }

  .approach-list li {
    font-size: 15px;
  }

  .ux-summary-container {
    padding: 20px;
    border-radius: 12px;
    box-shadow: none;
  }

  .ux-summary-title {
    font-size: 26px;
  }

  .ux-summary-item {
    font-size: 14px;
    line-height: 1.5;
  }
}
