.upcoming {
  background: #36656B;
  padding: 3rem;
  color: white;
  min-height: 100vh;
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 100px;
  font-family: 'Montserrat', sans-serif;
}

.upcoming-header h2 {
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 5rem;
  padding: 0 100px;
}

.card {
  background: white;
  color: #111;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: 'Montserrat', sans-serif;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.card-top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-top h3 {
  margin: 0;
}

.tag {
  display: inline-block;
  font-size: 0.7rem;
  padding: 4px 8px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}
.purple {
  background: #ece9ff;
}

.green {
  background: #eef3e3;
}

.card-body {
  padding: 1.5rem;
  text-align: start;}

.date {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.card-body h4 {
  margin: 0.3rem 0;
}

.desc {
  font-size: 0.9rem;
  color: #555;
  margin: 0.8rem 0 1.2rem;
}

.btn {
  background: #36656B;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}
.btn:hover {
  background: #2c4e53;
}
